.catalog_list {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 25px;
  grid-column-gap: 20px;
  grid-row-gap: 40px;
}
.catalog_item {
  border-radius: 10px;
  padding: 10px 10px 60px;
  position: relative;
  text-align: center;
  height: 420px;
  img {
    position: relative;
    height: 250px;
    border-radius: 10px 10px 0 0;
    background: #fff;
    max-width: 100%;
  }
  &:hover {
    background-color: #fff;
    box-shadow: 0px -5px 10px 0px rgb(216, 216, 216);
  }
}
.item_wrapper {
  display: flex;
  justify-content: center;
}

.item_name {
  font-size: 20px;
  line-height: 24px;
  margin-top: 20px;
  padding: 0 10px;
  font-weight: 600;
}
.item_desc {
  font-size: 12px;
  line-height: 24px;
  margin-top: 5px;
  padding: 0 30px;
  color: #a6a7ab;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.item_bottom {
  position: absolute;
  right: 10px;
  bottom: 15px;
  left: 10px;
  display: flex;
  flex-wrap: wrap;
  min-height: 30px;
  margin-top: 15px;
  padding: 0 15px;
  justify-content: space-between;
  align-items: center;
}
.item_price {
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  border-radius: 0 0 0 10px;
  color: #404354;
  font-weight: 700;
}
.addcart {
  background-color: #fff;
  border: 1px solid #fe5f1e;
  border-radius: 30px;
  cursor: pointer;
  display: inline-block;
  line-height: 20px;
  min-width: 100px;
  padding: 10px 20px;
  text-align: center;
  div {
    font-size: 18px;
    width: 100px;
    height: 30px;
    padding: 3px 0 3px 10px;
    color: #404354;
  }
  span {
    font-size: 14px;
    text-align: center;
    color: #404354;
    font-weight: 700;
  }
  &:hover {
    background-color: #fe5f1e;
    b {
      color: #fff;
    }
    span {
      color: #fff;
    }
    i {
      background-color: #fff;
      color: #fe5f1e;
    }
  }
}
