.delivery {
  width: 1000px;
  margin: 20px auto;
  h2 {
    display: flex;
    justify-content: center;
  }
  section {
    margin-top: 20px;
  }
}
.top {
  display: flex;
  justify-content: center;
  font-size: 44px;
}

.infoitems {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
.infoitem {
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: 20px;
  margin: 20px 0;
  img {
    width: 44px;
    height: 44px;
  }
  ul {
    display: contents;
  }
  p {
    font-size: 20px;
    font-weight: 800;
    margin: 0;
  }
  span {
    font-weight: 600;
    font-style: italic;
  }
  li {
    font-size: 16px;
    margin: 0;
    font-weight: 600;
    font-style: italic;
    list-style: none;
    &:nth-child(1) {
      color: green;
    }
    &:nth-child(2) {
      color: rgb(255, 196, 0);
    }
    &:nth-child(3) {
      color: red;
    }
  }
}

.paymentitems {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
  gap: 50px;
  margin-bottom: 70px;
}
.paymentitem {
  width: 275px;
  text-align: center;
  padding-right: 20px;
  box-sizing: border-box;
  position: relative;
  padding-top: 12px;
  list-style: none;
  img {
    text-align: center;
    width: 80px;
  }
  p {
    margin: 0 auto;
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    color: #404354;
  }
}
