header {
  background-color: white;
  z-index: 100;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  width: 100%;
  max-width: 1300px;
  left: 0;
  right: 0;
  border-bottom: 1px solid grey;
  padding: 20px 50px 20px 30px;
  font-size: 20px;
  font-weight: 400;
  a {
    text-decoration: none;
  }
}
//media reqs start
@media (max-width: 1300px) {
  header {
    max-width: 1000px;
    padding: 20px 0 20px 0;
  }
  footer {
    max-width: 1000px;
  }
}
@media (max-width: 1050px) {
  header {
    max-width: 800px;
    padding: 10px 0 10px 0;

    img {
      width: 100px;
    }
  }
  footer {
    max-width: 800px;
  }
}
@media (max-width: 800px) {
  header {
    max-width: 700px;
    padding: 0;
    img {
      width: 100px;
    }
  }
  footer {
    max-width: 700px;
  }
  .center {
    font-size: 16px;
    padding: 0;
  }
}
@media (max-width: 700px) {
  header {
    max-width: 500px;
    padding: 0;
    img {
      width: 100px;
    }
    .center {
      display: none;
    }
    .dropdown {
      display: flex;
    }
  }
  footer {
    max-width: 500px;
  }
}
@media (max-width: 500px) {
  header {
    max-width: 450px;
    padding: 0;
    img {
      width: 100px;
    }
    .center {
      display: none;
    }
    .dropdown {
      display: flex;
    }
  }
  footer {
    max-width: 450px;
  }
}
@media (max-width: 400px) {
  header {
    max-width: 350px;
    padding: 0;
    img {
      width: 100px;
    }
    .center {
      display: none;
    }
    .dropdown {
      display: flex;
    }
    .right {
      div {
        max-width: 140px;
      }
    }
  }
  footer {
    max-width: 350px;
  }
}
@media (max-width: 353px) {
  header {
    max-width: 300px;
    padding: 0;
    img {
      width: 100px;
    }
    .center {
      display: none;
    }

    .dropdown {
      display: flex;
    }
  }
  footer {
    max-width: 300px;
  }
}
//end media
.fix {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.801);
}

.logo {
  max-width: 200px;
}
.center {
  display: flex;
  list-style: none;
  justify-content: space-between;
  max-width: 500px;
  gap: 2rem;
  a {
    color: rgb(126, 121, 121);
    &:hover {
      color: black;
      transition: 0.7s;
    }
  }
}
.right {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 32px;
  }
}
.cart {
  color: white;
  display: flex;
  margin-right: 20px;
  padding: 5px;
  align-items: center;
  background-color: #fe5f1e;
  border: 1px solid transparent;
  border-radius: 30px;
  cursor: pointer;
  max-width: 120px;
  height: 40px;
  text-align: center;
  justify-content: center;
  font-weight: 300;
  font-size: 18px;
  .delim {
    margin: 0 6px;
  }
}

.dropdown {
  img {
    width: 64px;
    overflow: hidden;
    cursor: pointer;
  }
  display: none;
}
.dropdownmenu {
  z-index: 100;
  position: absolute;
  height: 150px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 60px;
  padding: 10px;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.8);
  a {
    color: black;
    font-weight: 600;
    &:hover {
      color: #fe5f1e;
    }
  }
}
.dropdownmenu_active {
  opacity: 1;
  visibility: visible;
}
.dropdownmenu_inactive {
  opacity: 0;
  visibility: hidden;
}
