.section {
  max-width: 1400px;
  margin: 0 auto 50px auto;
  padding-top: 150px;
}
html {
  scroll-behavior: smooth;
}

p {
  margin: 40px 0 0 40px;
  font-size: 26px;
  font-weight: 700;
  scroll-margin-top: 200px;
}
nav {
  background-color: white;
  margin-top: 129px;
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;

  ul {
    display: flex;

    gap: 30px;
    margin: 0;
    padding: 10px;
  }
  li {
    font-size: 20px;
    list-style: none;
    font-weight: 700;
    font-style: italic;
    cursor: pointer;
    a {
      text-decoration: none;
      color: black;
      &:hover {
        color: #fe5f1e;
      }
    }
  }
}
