.main {
  max-width: 1400px;
  display: flex;
  justify-content: center;
  margin: 50px auto 0 auto;
  height: 1000px;
}
@media (max-width: 1300px) {
  section {
    max-width: 1000px;
    img {
      width: 1000px;
    }
  }
}
@media (max-width: 1050px) {
  section {
    max-width: 800px;
    img {
      width: 800px;
    }
  }
  .main {
    height: 700px;
  }
}
@media (max-width: 800px) {
  section {
    max-width: 700px;
    img {
      width: 700px;
    }
  }
  .main {
    height: 700px;
  }
}
@media (max-width: 750px) {
  section {
    max-width: 500px;
    img {
      width: 500px;
    }
  }
  .main {
    height: 600px;
  }
}
.info {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    font-size: 32px;
    font-weight: 600;
  }
  span {
    font-style: italic;
  }
}
.items {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(129, 127, 127, 0.15);
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 25px 0 5px 0;
  img {
    height: 26px;
    width: 32px;
  }
}
.item {
  display: flex;
  align-items: center;
  div {
    text-transform: lowercase;
    font-weight: 600;
    color: #404354;
  }
  span {
    text-transform: uppercase;
    font-weight: 700;
    color: black;
  }
}
